<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" className="mr-2">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <g clip-path="url(#clip0_15_72)">
                <rect width="24" height="24" fill="white"></rect>
                <circle cx="7" cy="12" r="2" stroke="#02BA8E" stroke-linejoin="round"></circle>
                <circle cx="17" cy="6" r="2" stroke="#02BA8E" stroke-linejoin="round"></circle>
                <path d="M15 7L8.5 11" stroke="#02BA8E"></path>
                <circle cx="17" cy="18" r="2" stroke="#02BA8E" stroke-linejoin="round"></circle>
                <path d="M8.5 13.5L15 17" stroke="#02BA8E"></path>
            </g>
            <defs>
                <clipPath id="clip0_15_72">
                    <rect width="24" height="24" fill="white"></rect>
                </clipPath>
            </defs>
        </g>
    </svg>
</body>
</html>